	/****** REPLAY PAGE ******/

.hide-scores .game-summary__teams {
	filter: blur(8px);
}

.hide-scores .game-summary__team-name, .game-summary__team-score {
	opacity: .6 !important;
}

.hide-scores .score-breakdown {
	filter: blur(8px);
}

.hide-scores .score-breakdown .is-bold {
	font-weight: 400 !important;
}


/****** FRONT PAGE ******/

.hide-scores .game-card-v2__team-name, .game-card-v2__team-score {
	font-weight: 400 !important;
}

.hide-scores .game-card-v2__team-score {
	font-weight: 400 !important;
}

.hide-scores .game-card-v2__team-score {
	filter: blur(8px);
}

.hide-scores .game-card-v2__team--loser .game-card-v2__team-name {
    color: hsla(0,0%,100%,1) !important;

}

.hide-scores .game-card-v2__team--winner:after {
	border: transparent !important;
}
